@keyframes floatAround {
  0% {
    transform: translateY(120px) scale(1) rotate(0deg);
    opacity: 0;
  }
  20% {
    transform: translateY(40px) scale(1.2) rotate(10deg);
    opacity: 1;
  }
  40% {
    transform: translateY(-10px) scale(0.95) rotate(-8deg);
    opacity: 1;
  }
  60% {
    transform: translateY(-40px) scale(1.05) rotate(12deg);
    opacity: 1;
  }
  80% {
    transform: translateY(-80px) scale(1.1) rotate(-12deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-120px) scale(1) rotate(0deg);
    opacity: 1;
  }
}
@keyframes bounceUp {
  0% {
    transform: translateY(120px) scale(1);
    opacity: 0;
  }
  40% {
    transform: translateY(40px) scale(1.2);
    opacity: 1;
  }
  60% {
    transform: translateY(0) scale(0.95);
    opacity: 1;
  }
  80% {
    transform: translateY(-10px) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(120px);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
